<div id="container">

  <div id="leftColumn">

    <!-- left column -->
    <span class="leftHeader"> Welcome, <%= @current_user.username %> </span>
      <p>Email: <%= @current_user.email %></p>
      <p>Birthday: <%= @current_user.birthday %></p>
      <p><a href ="/change_profile">change your profile</a></p>

  </div>

  <div id="rightColumn">
<!-- Right column -->
    <span class="rightHeader"> <%= @current_user.username %>'s Posts </span>
      <% @post.each do |post| %>
      <div id = "posts">
      <p><%= post.message %> at <%= post.posted %></p>
      </div>
      <% end %>

  </div>

</div>
